<header class="header">
<div class="header-wrap">
<ul class="top-nav">
<li><a href="/productLogo" {{#if atLogo }}class='active'{{/if}}>产品LOGO</a></li>
<li><a {{#if atMaterial}}class='active'{{/if}} href="/materialCategory">架构图素材</a></li>
</ul>
</div>
</header>
